<!doctype html>
<html lang="fr">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height" />
        <title>{{title}}</title>
        <link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet" />
        <link rel="stylesheet" href="{{{dir_styles}}}main.css" />
        {{#styles}}
        <link rel="stylesheet" href="{{{dir_styles}}}{{.}}" />
        {{/styles}}
    </head>
    {{> body}}
    <script src="{{{dir_scripts}}}core.js"></script>
    {{#scripts}}
    <script src="{{{dir_scripts}}}{{.}}"></script>
    {{/scripts}}
</html>
