<body>
  {{> header}}

  <ul id="grid">
  {{#recipes}}
    <li class="grid-item">
    	<a href="{{{output}}}" style="background-image: url('/assets/images/thumbnails{{{data.image}}}');">
        <div class="title">{{data.title}}</div>
    	</a>
    </li>
  {{/recipes}}
  </ul>
</body>
