<body class="recipe">
  {{> header}}

	<div class="background" style="background-image: url('/assets/images/recipes{{{image}}}');">
	</div>

	<main>
		<section>
			<h1>{{title}}</h1>

			<div class="subtitle">
				<p>Préparation: {{preparation_time}} min</p>
				<p>Cuisson: {{cooking_time}} min</p>
			</div>

			<ul>
				{{#ingredients}}
				<li>
					{{type}}
					{{#quantity}}
						<div class="ingredients-quantity">
							{{quantity}}
						</div>
					{{/quantity}}
				</li>
				{{/ingredients}}
			</ul>
		</section>

		<section>
			<ol>
				{{#instructions}}
				<li>{{text}}</li>
				{{/instructions}}
			</ol>
		</section>
	</main>
</body>
