#grid {
	display: flex;
	flex-wrap: wrap;
	padding: 15px;
	background: white;

	.grid-item {
		list-style: none;
		width: 25%;
		box-sizing: border-box;
		padding: 15px;

		a {
			display: flex;
			height: 250px;
			justify-content: flex-end;
			flex-direction: column;
			color: @light;
			text-decoration: none;
			background-size: cover;
			background-position: center;
			box-shadow: 0 0 10px 0 rgba( 0, 0, 0, 0.1 );

			.title {
				padding: 15px;
				width: 100%;
				box-sizing: border-box;
				text-overflow: ellipsis;
			  white-space: nowrap;
			  overflow: hidden;
			  background: rgba( 0, 0, 0, 0.7 );
			}
		}
	}
}

@media screen and (max-width: 640px) {
  #grid .grid-item {
  	width: 100%;
  }
}
